* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    background-repeat: no-repeat;


}
body{
    background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

background-repeat: no-repeat;
}
p{
    color: rgb(247, 246, 229);
text-shadow: 2px 2px 4px #f87b06;
margin-top: 2em;
font-family: cursive;
    text-align:center;

}
table{

    width: 100%;
}
th{
    
    border-left: 2px solid orange;
    border-right: 2px solid orange;
    border-top: 2px solid orange;
    border-bottom: 2px solid white;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;

}
tr,td{

    color: rgb(217, 255, 4);
    text-shadow: 2px 2px 4px #000000;
    border-left: 2px solid green;
    border-right: 2px solid green;
    border-top: 2px solid white;
    border-bottom: 2px solid green;
    font-size:20px;
}

/* nav bar */

.navbar {
    width: 100%;

    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}



@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

/* intro */

#block1 {

    position: relative;
    border: solid 1px b;
    height: auto;
    width: auto;
    margin: auto;
    transition: background-color 5s ease;

}

#block1:hover {
    
    filter: opacity(2px);
    background-color: rgba(119, 195, 247, 0.616);
}

#profile {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.p1 {
    color: rgb(57, 243, 129);
    text-shadow: 1px 1px 2px rgb(61, 160, 21), 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    font-size: 2.5em;
    font-family: monospace;
    padding-bottom: 25px;
    padding-top: 25px;
}


#h1 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #0f0f0f;
    margin-top: 2em;
    font-family: cursive;

}


#name {
    color: rgb(70, 229, 235);
    text-shadow: 2px 2px 4px #000000;
}
#t1{

    margin-top:5em;
    margin-left: 10em;
    padding: auto;
    align-items: center;
    align-content: center;
    align-self: center
}
#sb{
    width:50px
}
#sb:hover{
    background-color:yellow;
    color:rgb(59, 6, 253);
   
    font-family: cursive;
   border-radius: 50px;
}
button{
    background-color:black;
    color:white;
    text-decoration: none;
}
a{
    text-decoration:none;
    color:white;
}
#p11{
    margin-bottom: 2em;
}
td{
    text-align: center;
}

